<?xml version="1.0" encoding="utf-8" ?>
<configuration>
      <appSettings>
        <add key="cameraIP" value="192.168.254.102" />
        <add key="cameraPort" value="554" />
        <add key="userName" value="admin" />
        <add key="userPassword" value="abcd1234" />
        <add key="cameraRTSPPath" value="rtsp://admin:abcd1234@192.168.254.102:554/mpeg4/ch33/main/av_stream" />
        <add key="serialPortName" value="COM1" />
        <add key="aimingReticleConfig1.posX" value="515" />
        <add key="aimingReticleConfig1.posY" value="235" />
        <add key="aimingReticleConfig1.sizePercent" value="0" />
        <add key="aimingReticleConfig1.size" value="250" />
        <add key="aimingReticleConfig2.posX" value="515" />
        <add key="aimingReticleConfig2.posY" value="235" />
        <add key="aimingReticleConfig2.sizePercent" value="0" />
        <add key="aimingReticleConfig2.size" value="250" />
        <add key="aimingReticleConfig3.posX" value="515" />
        <add key="aimingReticleConfig3.posY" value="235" />
        <add key="aimingReticleConfig3.sizePercent" value="0" />
        <add key="aimingReticleConfig3.size" value="250" />
        <add key="aimingReticleConfig4.posX" value="515" />
        <add key="aimingReticleConfig4.posY" value="235" />
        <add key="aimingReticleConfig4.sizePercent" value="0" />
        <add key="aimingReticleConfig4.size" value="250" />
        <add key="aimingReticleConfig5.posX" value="515" />
        <add key="aimingReticleConfig5.posY" value="235" />
        <add key="aimingReticleConfig5.sizePercent" value="0" />
        <add key="aimingReticleConfig5.size" value="250" />
        <add key="aimingReticleConfig6.posX" value="515" />
        <add key="aimingReticleConfig6.posY" value="235" />
        <add key="aimingReticleConfig6.sizePercent" value="0" />
        <add key="aimingReticleConfig6.size" value="250" />
        <add key="aimingReticleConfig7.posX" value="515" />
        <add key="aimingReticleConfig7.posY" value="235" />
        <add key="aimingReticleConfig7.sizePercent" value="0" />
        <add key="aimingReticleConfig7.size" value="250" />
        <add key="aimingReticleConfig8.posX" value="515" />
        <add key="aimingReticleConfig8.posY" value="235" />
        <add key="aimingReticleConfig8.sizePercent" value="0" />
        <add key="aimingReticleConfig8.size" value="250" />
        <add key="aimingReticleConfig9.posX" value="515" />
        <add key="aimingReticleConfig9.posY" value="235" />
        <add key="aimingReticleConfig9.sizePercent" value="0" />
        <add key="aimingReticleConfig9.size" value="250" />
        <add key="aimingReticleConfig10.posX" value="515" />
        <add key="aimingReticleConfig10.posY" value="235" />
        <add key="aimingReticleConfig10.sizePercent" value="0" />
        <add key="aimingReticleConfig10.size" value="250" />
        <add key="aimingReticleConfig11.posX" value="515" />
        <add key="aimingReticleConfig11.posY" value="235" />
        <add key="aimingReticleConfig11.sizePercent" value="0" />
        <add key="aimingReticleConfig11.size" value="250" />
        <add key="aimingReticleConfig12.posX" value="515" />
        <add key="aimingReticleConfig12.posY" value="235" />
        <add key="aimingReticleConfig12.sizePercent" value="0" />
        <add key="aimingReticleConfig12.size" value="250" />
        <add key="aimingReticleConfig13.posX" value="515" />
        <add key="aimingReticleConfig13.posY" value="235" />
        <add key="aimingReticleConfig13.sizePercent" value="0" />
        <add key="aimingReticleConfig13.size" value="250" />
        <add key="aimingReticleConfig14.posX" value="515" />
        <add key="aimingReticleConfig14.posY" value="235" />
        <add key="aimingReticleConfig14.sizePercent" value="0" />
        <add key="aimingReticleConfig14.size" value="250" />
        <add key="aimingReticleConfig15.posX" value="515" />
        <add key="aimingReticleConfig15.posY" value="235" />
        <add key="aimingReticleConfig15.sizePercent" value="0" />
        <add key="aimingReticleConfig15.size" value="250" />
        <add key="aimingReticleConfig16.posX" value="515" />
        <add key="aimingReticleConfig16.posY" value="235" />
        <add key="aimingReticleConfig16.sizePercent" value="0" />
        <add key="aimingReticleConfig16.size" value="250" />
        <add key="aimingReticleConfig17.posX" value="515" />
        <add key="aimingReticleConfig17.posY" value="235" />
        <add key="aimingReticleConfig17.sizePercent" value="0" />
        <add key="aimingReticleConfig17.size" value="250" />
        <add key="aimingReticleConfig18.posX" value="515" />
        <add key="aimingReticleConfig18.posY" value="235" />
        <add key="aimingReticleConfig18.sizePercent" value="0" />
        <add key="aimingReticleConfig18.size" value="250" />
        <add key="aimingReticleConfig19.posX" value="515" />
        <add key="aimingReticleConfig19.posY" value="235" />
        <add key="aimingReticleConfig19.sizePercent" value="0" />
        <add key="aimingReticleConfig19.size" value="250" />
        <add key="aimingReticleConfig20.posX" value="515" />
        <add key="aimingReticleConfig20.posY" value="235" />
        <add key="aimingReticleConfig20.sizePercent" value="0" />
        <add key="aimingReticleConfig20.size" value="250" />
    </appSettings>
</configuration>